alembic==1.17.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
async-timeout==5.0.1
asyncpg==0.31.0
black==25.11.0
certifi==2025.11.12
cfgv==3.5.0
click==8.3.1
dishka==1.7.2
distlib==0.4.0
exceptiongroup==1.3.1
Faker==38.2.0
fastapi==0.123.0
filelock==3.20.0
flake8==7.3.0
greenlet==3.2.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
identify==2.6.15
idna==3.11
isort==7.0.0
litestar-htmx==0.5.0
loguru==0.7.3
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
msgspec==0.20.0
multidict==6.7.0
multipart==1.3.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
polyfactory==3.1.0
pre_commit==4.5.0
psycopg2==2.9.11
pycodestyle==2.14.0
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
Pygments==2.19.2
python-dotenv==1.2.1
pytokens==0.3.0
PyYAML==6.0.3
redis==7.1.0
rich==14.2.0
rich-click==1.9.4
SQLAlchemy==2.0.44
starlette==0.50.0
tomli==2.3.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uvicorn==0.38.0
virtualenv==20.35.4
bcrypt==4.2.0
python-jose[cryptography]==3.3.0
